# First Submission

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from sklearn import metrics
from sklearn.model_selection import cross_val_score, cross_val_predict, KFold, train_test_split
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, PowerTransformer, PolynomialFeatures

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [2]:
train = pd.read_csv('./datasets/train.csv')
test = pd.read_csv('./datasets/test.csv')

In [3]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [4]:
test.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
1,2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
4,625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [5]:
train.shape

(2051, 81)

In [6]:
test.shape

(879, 80)

In [7]:
train.isnull().sum()

Id                   0
PID                  0
MS SubClass          0
MS Zoning            0
Lot Frontage       330
Lot Area             0
Street               0
Alley             1911
Lot Shape            0
Land Contour         0
Utilities            0
Lot Config           0
Land Slope           0
Neighborhood         0
Condition 1          0
Condition 2          0
Bldg Type            0
House Style          0
Overall Qual         0
Overall Cond         0
Year Built           0
Year Remod/Add       0
Roof Style           0
Roof Matl            0
Exterior 1st         0
Exterior 2nd         0
Mas Vnr Type        22
Mas Vnr Area        22
Exter Qual           0
Exter Cond           0
                  ...
Half Bath            0
Bedroom AbvGr        0
Kitchen AbvGr        0
Kitchen Qual         0
TotRms AbvGrd        0
Functional           0
Fireplaces           0
Fireplace Qu      1000
Garage Type        113
Garage Yr Blt      114
Garage Finish      114
Garage Cars          1
Garage Area          1
Garage Qual        114
Garage Cond        114
Paved Drive          0
Wood Deck SF         0
Open Porch SF        0
Enclosed Porch       0
3Ssn Porch           0
Screen Porch         0
Pool Area            0
Pool QC           2042
Fence             1651
Misc Feature      1986
Misc Val             0
Mo Sold              0
Yr Sold              0
Sale Type            0
SalePrice            0
Length: 81, dtype: int64

In [8]:
features = ['Lot Area', 'Overall Qual', 'Overall Cond', 'Year Built',
            'Year Remod/Add', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF',
            'Gr Liv Area', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 
            'Kitchen AbvGr', 'TotRms AbvGrd', 'Wood Deck SF', 'Open Porch SF', 
            'Pool Area']

In [9]:
y = train['SalePrice']
X = train[features]

In [10]:
mlr = LinearRegression()

In [11]:
mlr.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
predictions = mlr.predict(X)

In [13]:
metrics.mean_squared_error(y, predictions)

rmse = np.sqrt(metrics.mean_squared_error(y, predictions))
rmse

35629.58430639573

In [14]:
first_submission = pd.DataFrame()

first_submission['Id'] = test['Id']
first_submission['SalePrice'] = mlr.predict(test[features])

In [15]:
first_submission.head()

     Id      SalePrice
0  2658  140668.912393
1  2718  168352.685129
2  2414  209495.347031
3  1989  109410.302331
4   625  166893.197599

In [16]:
first_submission.to_csv('./datasets/first_submission.csv', index = False)

# Second Submission

In [17]:
train.corr().sort_values('SalePrice', ascending = False)

,Id,PID,MS SubClass,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
SalePrice,-0.051398,-0.255052,-0.087335,0.341842,0.296566,0.800207,-0.097019,0.571849,0.550370,0.512230,...,0.326490,0.333476,-0.135656,0.048732,0.134581,0.023106,-0.007375,0.032735,-0.015203,1.000000
Overall Qual,-0.061483,-0.265863,0.035763,0.194808,0.105824,1.000000,-0.082770,0.602964,0.584654,0.438685,...,0.257081,0.308855,-0.154554,0.031938,0.048752,0.006558,0.022099,0.019242,-0.011578,0.800207
Gr Liv Area,-0.023881,-0.112936,0.068210,0.383856,0.327427,0.566701,-0.109804,0.258838,0.322407,0.387833,...,0.270239,0.345008,-0.007777,0.024504,0.101926,0.113034,0.113673,0.049644,-0.015891,0.697038
Garage Area,-0.045201,-0.200891,-0.108228,0.358457,0.263296,0.563814,-0.137917,0.487177,0.398999,0.384718,...,0.245513,0.247222,-0.112353,0.043918,0.071067,0.045876,0.033641,0.009964,-0.003589,0.650270
Garage Cars,-0.048666,-0.228368,-0.049148,0.297143,0.214954,0.587423,-0.168513,0.542544,0.441796,0.361211,...,0.240721,0.215364,-0.139608,0.028393,0.053582,0.021566,0.003053,0.020801,-0.009996,0.648220
Total Bsmt SF,-0.038346,-0.203795,-0.226038,0.356584,0.277175,0.548742,-0.158643,0.410254,0.308545,0.408575,...,0.224659,0.257227,-0.088055,0.060283,0.076061,0.061503,0.125600,0.003915,-0.004280,0.628925
1st Flr SF,-0.022650,-0.145862,-0.246212,0.463900,0.381593,0.477136,-0.150938,0.323315,0.244190,0.391349,...,0.226243,0.259072,-0.044032,0.066991,0.089140,0.129995,0.139496,0.027038,-0.007432,0.618486
Year Built,-0.064444,-0.347039,0.035983,0.109504,0.036002,0.602964,-0.370988,1.000000,0.629116,0.329741,...,0.216339,0.207798,-0.380082,0.016104,-0.037866,0.003728,0.000626,-0.007083,-0.003559,0.571849
Year Remod/Add,-0.090040,-0.176666,0.044836,0.085052,0.050771,0.584654,0.042614,0.629116,1.000000,0.211443,...,0.216271,0.264476,-0.237523,0.040416,-0.041211,-0.022382,-0.001704,0.011568,0.042744,0.550370
Full Bath,-0.059086,-0.179370,0.142087,0.152812,0.125601,0.515080,-0.219189,0.480169,0.471555,0.240034,...,0.175502,0.244452,-0.125383,0.027870,-0.014296,0.010458,0.003293,0.049390,0.007140,0.537969
Garage Yr Blt,-0.050730,-0.251257,0.084954,0.067865,0.004882,0.574553,-0.331765,0.825316,0.674024,0.266763,...,0.221800,0.225691,-0.296218,0.025013,-0.054368,-0.013425,0.004736,0.013538,-0.005346,0.533922
Mas Vnr Area,-0.035493,-0.247959,-0.004047,0.218218,0.169379,0.438685,-0.135878,0.329741,0.211443,1.000000,...,0.163584,0.163489,-0.107104,0.011161,0.086631,0.012422,0.079219,-0.001472,-0.018719,0.512230
TotRms AbvGrd,-0.009092,-0.084999,0.034490,0.362704,0.238724,0.382025,-0.093576,0.137783,0.202397,0.273359,...,0.182835,0.226346,0.005521,-0.008101,0.046329,0.072500,0.100175,0.054154,-0.022041,0.504014
Fireplaces,-0.037560,-0.120710,-0.055118,0.253456,0.289467,0.388920,-0.006463,0.168848,0.138858,0.269104,...,0.238887,0.169169,0.009368,0.026411,0.167071,0.107769,0.023372,0.018228,0.006887,0.471093
BsmtFin SF 1,-0.045878,-0.086522,-0.060854,0.214178,0.215430,0.278742,-0.045768,0.275440,0.166680,0.321807,...,0.214274,0.140286,-0.076963,0.047719,0.093226,0.075925,0.130042,-0.010534,0.037978,0.423519
Lot Frontage,-0.024967,-0.091291,-0.389790,1.000000,0.574024,0.194808,-0.054455,0.109504,0.085052,0.218218,...,0.115180,0.184958,-0.003302,0.031855,0.074819,0.156575,0.051676,-0.017389,0.009112,0.341842
Open Porch SF,0.001382,-0.081129,-0.020289,0.184958,0.140864,0.308855,-0.052266,0.207798,0.264476,0.163489,...,0.047630,1.000000,-0.077019,-0.007336,0.059027,0.073965,0.109919,0.043632,-0.025895,0.333476
Wood Deck SF,-0.009045,-0.041221,0.001622,0.115180,0.155623,0.257081,0.011034,0.216339,0.216271,0.163584,...,1.000000,0.047630,-0.114079,-0.010851,-0.067770,0.128373,0.085091,0.018500,-0.000912,0.326490
Lot Area,0.032872,0.024135,-0.245484,0.574024,1.000000,0.105824,-0.019185,0.036002,0.050771,0.169379,...,0.155623,0.140864,0.014139,0.019553,0.067714,0.115102,0.093922,0.003197,-0.029454,0.296566
Bsmt Full Bath,-0.033385,-0.030554,0.025055,0.111441,0.116128,0.175171,-0.039113,0.215200,0.153507,0.148049,...,0.196886,0.090170,-0.073358,0.022972,0.055399,0.043704,-0.003515,-0.009609,0.035344,0.283662
Half Bath,-0.042054,-0.163975,0.179404,0.035842,0.049995,0.274859,-0.093266,0.283207,0.224106,0.192687,...,0.125241,0.181469,-0.100591,-0.027131,0.046712,0.001294,0.055789,0.010521,0.001987,0.283001
2nd Flr SF,-0.008388,-0.005598,0.305771,0.013700,0.029398,0.228152,0.010912,0.022313,0.159605,0.100568,...,0.109070,0.165080,0.021083,-0.033167,0.035105,0.012642,0.004413,0.030248,-0.011915,0.248452
Bsmt Unf SF,0.008555,-0.111281,-0.139911,0.127605,0.041184,0.275773,-0.130521,0.136662,0.160066,0.085853,...,-0.034438,0.116019,-0.010847,0.020409,-0.055558,-0.039209,-0.005888,0.020043,-0.043683,0.190210
Bedroom AbvGr,0.010605,0.009122,-0.003516,0.220414,0.139060,0.053373,-0.009908,-0.042149,-0.019748,0.054589,...,0.034758,0.053433,0.033030,-0.033802,0.019606,0.027438,0.012274,0.068281,-0.011692,0.137067
Screen Porch,0.009758,-0.042030,-0.038819,0.074819,0.067714,0.048752,0.047359,-0.037866,-0.041211,0.086631,...,-0.067770,0.059027,-0.069049,-0.029574,1.000000,0.033114,0.007122,0.029329,-0.017624,0.134581
3Ssn Porch,-0.022791,-0.024679,-0.030088,0.031855,0.019553,0.031938,0.026907,0.016104,0.040416,0.011161,...,-0.010851,-0.007336,-0.032145,1.000000,-0.029574,-0.006522,-0.004887,0.020036,0.019424,0.048732
Mo Sold,0.127723,-0.032735,0.013027,-0.017389,0.003197,0.019242,-0.003144,-0.007083,0.011568,-0.001472,...,0.018500,0.043632,0.004455,0.020036,0.029329,-0.043118,0.019483,1.000000,-0.147494,0.032735
Pool Area,0.055696,0.005825,-0.004585,0.156575,0.115102,0.006558,-0.005806,0.003728,-0.022382,0.012422,...,0.128373,0.073965,-0.015636,-0.006522,0.033114,1.000000,0.017661,-0.043118,-0.053768,0.023106
BsmtFin SF 2,0.000723,-0.013144,-0.068265,0.036740,0.041717,-0.028199,0.047810,-0.021031,-0.057163,-0.016756,...,0.105836,-0.004382,0.004540,-0.024225,0.096405,0.061026,-0.005515,-0.013945,-0.000013,0.016255
Misc Val,-0.012683,0.004223,-0.027485,0.051676,0.093922,0.022099,0.014269,0.000626,-0.001704,0.079219,...,0.085091,0.109919,0.015049,-0.004887,0.007122,0.017661,1.000000,0.019483,0.017269,-0.007375
Yr Sold,-0.975747,0.008476,-0.032870,0.009112,-0.029454,-0.011578,0.047664,-0.003559,0.042744,-0.018719,...,-0.000912,-0.025895,-0.006256,0.019424,-0.017624,-0.053768,0.017269,-0.147494,1.000000,-0.015203
Low Qual Fin SF,0.011719,0.072268,0.031091,-0.000300,0.001273,-0.052338,0.004753,-0.159403,-0.066577,-0.061878,...,-0.017246,-0.006253,0.089883,-0.003461,0.014218,-0.006854,-0.005756,0.024471,0.001288,-0.041594
Bsmt Half Bath,0.014381,-0.001946,-0.017249,-0.030858,0.029980,-0.047318,0.100324,-0.031464,-0.037923,0.010220,...,0.031754,-0.032635,-0.012093,0.030571,0.037595,0.066097,0.050212,0.026370,-0.010072,-0.045328
Id,1.000000,0.175793,0.026543,-0.024967,0.032872,-0.061483,-0.026096,-0.064444,-0.090040,-0.035493,...,-0.009045,0.001382,0.033747,-0.022791,0.009758,0.055696,-0.012683,0.127723,-0.975747,-0.051398
MS SubClass,0.026543,-0.003632,1.000000,-0.389790,-0.245484,0.035763,-0.070141,0.035983,0.044836,-0.004047,...,0.001622,-0.020289,-0.039842,-0.030088,-0.038819,-0.004585,-0.027485,0.013027,-0.032870,-0.087335
Overall Cond,-0.026096,0.106861,-0.070141,-0.054455,-0.019185,-0.082770,1.000000,-0.370988,0.042614,-0.135878,...,0.011034,-0.052266,0.108320,0.026907,0.047359,-0.005806,0.014269,-0.003144,0.047664,-0.097019
Kitchen AbvGr,-0.002400,0.068416,0.252111,0.015856,-0.013484,-0.170964,-0.095725,-0.127162,-0.135926,-0.070677,...,-0.090013,-0.083502,0.016189,-0.021017,-0.058886,-0.012986,0.031474,0.047143,0.020800,-0.125444
Enclosed Porch,0.033747,0.150179,-0.039842,-0.003302,0.014139,-0.154554,0.108320,-0.380082,-0.237523,-0.107104,...,-0.114079,-0.077019,1.000000,-0.032145,-0.069049,-0.015636,0.015049,0.004455,-0.006256,-0.135656
PID,0.175793,1.000000,-0.003632,-0.091291,0.024135,-0.265863,0.106861,-0.347039,-0.176666,-0.247959,...,-0.041221,-0.081129,0.150179,-0.024679,-0.042030,0.005825,0.004223,-0.032735,0.008476,-0.255052

In [18]:
features_2 = ['Overall Qual', 'Gr Liv Area', 'Garage Area', 'Garage Cars', 'Total Bsmt SF', '1st Flr SF',
              'Year Built', 'Year Remod/Add', 'Full Bath', 'Garage Yr Blt', 'Mas Vnr Area', 'TotRms AbvGrd']

In [19]:
train[features_2].dtypes

Overall Qual        int64
Gr Liv Area         int64
Garage Area       float64
Garage Cars       float64
Total Bsmt SF     float64
1st Flr SF          int64
Year Built          int64
Year Remod/Add      int64
Full Bath           int64
Garage Yr Blt     float64
Mas Vnr Area      float64
TotRms AbvGrd       int64
dtype: object

In [20]:
train['Garage Area'].fillna(0, inplace = True)
test['Garage Area'].fillna(0, inplace = True)

In [21]:
train['Garage Cars'].fillna(0, inplace = True)
test['Garage Cars'].fillna(0, inplace = True)

In [22]:
train['Garage Yr Blt'].fillna(0, inplace = True)
test['Garage Yr Blt'].fillna(0, inplace = True)

In [23]:
train['Mas Vnr Area'].fillna(0, inplace = True)
test['Mas Vnr Area'].fillna(0, inplace = True)

In [24]:
train['Total Bsmt SF'].fillna(0, inplace = True)
test['Total Bsmt SF'].fillna(0, inplace = True)

In [25]:
X_2 = train[features_2]

In [26]:
mlr.fit(X_2, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [27]:
predictions_2 = mlr.predict(X_2)

In [28]:
metrics.mean_squared_error(y, predictions_2)

1260387350.3800466

In [29]:
rmse2 = np.sqrt(metrics.mean_squared_error(y, predictions_2))
rmse2

35501.934459688906

In [30]:
second_submission = pd.DataFrame()

In [31]:
second_submission['Id'] = test['Id']
second_submission['SalePrice'] = mlr.predict(test[features_2])

In [32]:
second_submission.to_csv('./datasets/second_submission.csv', index = False)

# Third Submission

In [33]:
train_clean = pd.read_csv('./datasets/clean_train.csv')
test_clean = pd.read_csv('./datasets/clean_test.csv')

In [34]:
train_clean.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,lot_shape,land_contour,utilities,...,fence,misc_val,mo_sold,yr_sold,sale_type,saleprice,total_baths,total_sf,age,neighborhood_qual
0,109,533352170,60,RL,0.0,13517,Pave,IR1,Lvl,AllPub,...,No Fence,0,3,2010,WD,130500,2.5,2204.0,34,1
1,544,531379050,60,RL,43.0,11492,Pave,IR1,Lvl,AllPub,...,No Fence,0,4,2009,WD,220000,3.5,3035.0,13,2
2,153,535304180,20,RL,68.0,7922,Pave,Reg,Lvl,AllPub,...,No Fence,0,1,2010,WD,109000,2.0,2114.0,57,1
3,318,916386060,60,RL,73.0,9802,Pave,Reg,Lvl,AllPub,...,No Fence,0,4,2010,WD,174000,2.5,1828.0,4,2
4,255,906425045,50,RL,82.0,14235,Pave,IR1,Lvl,AllPub,...,No Fence,0,3,2010,WD,138500,2.0,2121.0,110,2

In [35]:
y_3 = train_clean['saleprice']

In [36]:
train_clean.columns

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'lot_shape', 'land_contour', 'utilities', 'lot_config',
       'land_slope', 'neighborhood', 'condition_1', 'condition_2', 'bldg_type',
       'house_style', 'overall_qual', 'overall_cond', 'year_built',
       'year_remod/add', 'roof_style', 'roof_matl', 'exterior_1st',
       'exterior_2nd', 'mas_vnr_type', 'mas_vnr_area', 'exter_qual',
       'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond', 'bsmt_exposure',
       'bsmtfin_type_1', 'bsmtfin_type_2', 'total_bsmt_sf', 'heating',
       'heating_qc', 'central_air', 'electrical', 'gr_liv_area',
       'bedroom_abvgr', 'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd',
       'functional', 'fireplaces', 'fireplace_qu', 'garage_type',
       'garage_yr_blt', 'garage_finish', 'garage_area', 'garage_qual',
       'garage_cond', 'paved_drive', 'wood_deck_sf', 'open_porch_sf',
       'enclosed_porch', '3ssn_porch', 'screen_porch', 'pool_area', 'fence',
       'misc_val', 'mo_sold', 'yr_sold', 'sale_type', 'saleprice',
       'total_baths', 'total_sf', 'age', 'neighborhood_qual'],
      dtype='object')

In [37]:
train_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 71 columns):
id                   2025 non-null int64
pid                  2025 non-null int64
ms_subclass          2025 non-null int64
ms_zoning            2025 non-null object
lot_frontage         2025 non-null float64
lot_area             2025 non-null int64
street               2025 non-null object
lot_shape            2025 non-null object
land_contour         2025 non-null object
utilities            2025 non-null object
lot_config           2025 non-null object
land_slope           2025 non-null object
neighborhood         2025 non-null object
condition_1          2025 non-null object
condition_2          2025 non-null object
bldg_type            2025 non-null object
house_style          2025 non-null object
overall_qual         2025 non-null int64
overall_cond         2025 non-null int64
year_built           2025 non-null int64
year_remod/add       2025 non-null int64
roof_style           2025 non-null object
roof_matl            2025 non-null object
exterior_1st         2025 non-null object
exterior_2nd         2025 non-null object
mas_vnr_type         2025 non-null object
mas_vnr_area         2025 non-null float64
exter_qual           2025 non-null int64
exter_cond           2025 non-null int64
foundation           2025 non-null object
bsmt_qual            2025 non-null int64
bsmt_cond            2025 non-null int64
bsmt_exposure        2025 non-null int64
bsmtfin_type_1       2025 non-null object
bsmtfin_type_2       2025 non-null object
total_bsmt_sf        2025 non-null float64
heating              2025 non-null object
heating_qc           2025 non-null int64
central_air          2025 non-null object
electrical           2025 non-null object
gr_liv_area          2025 non-null int64
bedroom_abvgr        2025 non-null int64
kitchen_abvgr        2025 non-null int64
kitchen_qual         2025 non-null int64
totrms_abvgrd        2025 non-null int64
functional           2025 non-null int64
fireplaces           2025 non-null int64
fireplace_qu         2025 non-null int64
garage_type          2025 non-null object
garage_yr_blt        2025 non-null float64
garage_finish        2025 non-null int64
garage_area          2025 non-null float64
garage_qual          2025 non-null int64
garage_cond          2025 non-null int64
paved_drive          2025 non-null object
wood_deck_sf         2025 non-null int64
open_porch_sf        2025 non-null int64
enclosed_porch       2025 non-null int64
3ssn_porch           2025 non-null int64
screen_porch         2025 non-null int64
pool_area            2025 non-null int64
fence                2025 non-null object
misc_val             2025 non-null int64
mo_sold              2025 non-null int64
yr_sold              2025 non-null int64
sale_type            2025 non-null object
saleprice            2025 non-null int64
total_baths          2025 non-null float64
total_sf             2025 non-null float64
age                  2025 non-null int64
neighborhood_qual    2025 non-null int64
dtypes: float64(7), int64(37), object(27)
memory usage: 1.1+ MB

In [38]:
features_3 = ['overall_qual', 'total_sf', 'gr_liv_area', 'exter_qual', 'kitchen_qual',
              'total_baths', 'total_bsmt_sf', 'garage_area', 'bsmt_qual', 'year_built', 'garage_finish',
              'totrms_abvgrd']

In [39]:
X_3 = train_clean[features_3]

In [40]:
mlr.fit(X_3, y_3)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
predictions_3 = mlr.predict(X_3)

In [42]:
metrics.mean_squared_error(y_3, predictions_3)

968866934.9668229

In [43]:
np.sqrt(metrics.mean_squared_error(y_3, predictions_3))

31126.627426800078

In [44]:
test.columns = test.columns.str.lower().str.replace(' ', '_')

In [45]:
third_submission = pd.DataFrame()
third_submission['Id'] = test_clean['id']
third_submission['SalePrice'] = mlr.predict(test_clean[features_3])

In [46]:
test.columns

Index(['id', 'pid', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street', 'alley', 'lot_shape', 'land_contour', 'utilities',
       'lot_config', 'land_slope', 'neighborhood', 'condition_1',
       'condition_2', 'bldg_type', 'house_style', 'overall_qual',
       'overall_cond', 'year_built', 'year_remod/add', 'roof_style',
       'roof_matl', 'exterior_1st', 'exterior_2nd', 'mas_vnr_type',
       'mas_vnr_area', 'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual',
       'bsmt_cond', 'bsmt_exposure', 'bsmtfin_type_1', 'bsmtfin_sf_1',
       'bsmtfin_type_2', 'bsmtfin_sf_2', 'bsmt_unf_sf', 'total_bsmt_sf',
       'heating', 'heating_qc', 'central_air', 'electrical', '1st_flr_sf',
       '2nd_flr_sf', 'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath',
       'bsmt_half_bath', 'full_bath', 'half_bath', 'bedroom_abvgr',
       'kitchen_abvgr', 'kitchen_qual', 'totrms_abvgrd', 'functional',
       'fireplaces', 'fireplace_qu', 'garage_type', 'garage_yr_blt',
       'garage_finish', 'garage_cars', 'garage_area', 'garage_qual',
       'garage_cond', 'paved_drive', 'wood_deck_sf', 'open_porch_sf',
       'enclosed_porch', '3ssn_porch', 'screen_porch', 'pool_area', 'pool_qc',
       'fence', 'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type'],
      dtype='object')

In [47]:
third_submission.to_csv('./datasets/third_submission.csv', index = False)

In [48]:
third_submission.shape

(879, 2)

# Fourth Submission

In [49]:
ss = StandardScaler()

In [50]:
X_scaled = ss.fit_transform(X_3)

In [51]:
y_4 = train_clean[['saleprice']]

In [52]:
mlr.fit(X_scaled, y_4)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
predictions_4 = mlr.predict(X_scaled)

In [54]:
mse = metrics.mean_squared_error(y_4, predictions_4)
mse

968866934.966823

In [55]:
rmse = np.sqrt(mse)
rmse

31126.62742680008

In [56]:
fourth_submission = pd.DataFrame()
fourth_submission['Id'] = test_clean['id']
fourth_submission['SalePrice'] = mlr.predict(test_clean[features_3])

In [57]:
fourth_submission.to_csv('./datasets/fourth_submission.csv', index = False)

In [58]:
fourth_submission.shape

(879, 2)

# Fifth Submission

In [59]:
train_with_dummies = pd.read_csv('./datasets/train_with_dummies.csv')
test_with_dummies = pd.read_csv('./datasets/test_with_dummies.csv')

In [60]:
lr = LinearRegression()

In [61]:
X = train_with_dummies.drop('saleprice', axis = 1)
y = train_with_dummies['saleprice']

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [63]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [64]:
lr_predictions = lr.predict(X)

In [65]:
metrics.mean_squared_error(y, lr_predictions)

rmse = np.sqrt(metrics.mean_squared_error(y, lr_predictions))
rmse

22147.128002086658

In [66]:
fifth_submission = pd.DataFrame()
fifth_submission['Id'] = test_with_dummies['id']
fifth_submission['SalePrice'] = lr.predict(test_with_dummies)

In [67]:
fifth_submission.head()

     Id      SalePrice
0  2658  106626.445902
1  2718  294678.384508
2  2414  298278.852027
3  1989  209077.473670
4   625  416830.885721

In [68]:
fifth_submission.to_csv('./datasets/fifth_submission.csv', index = False)

# Sixth Submission

In [69]:
ridge = RidgeCV(cv = 5)

In [70]:
ridge.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=5, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [71]:
r_preds = ridge.predict(X)

In [72]:
metrics.mean_squared_error(y, r_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, r_preds))
rmse

22245.796864139345

In [73]:
sixth_submission = pd.DataFrame()
sixth_submission['Id'] = test_with_dummies['id']
sixth_submission['SalePrice'] = ridge.predict(test_with_dummies)

In [74]:
sixth_submission.head()

     Id      SalePrice
0  2658  150642.186229
1  2718  172920.428484
2  2414  217063.256195
3  1989  143864.355742
4   625  211512.998027

In [75]:
sixth_submission.to_csv('./datasets/sixth_submission.csv', index = False)

# Seventh Submission

In [76]:
lasso = LassoCV(n_alphas = 500, cv = 5, random_state = 42)

In [77]:
lasso.fit(X_train, y_train)

LassoCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=500, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=42, selection='cyclic',
        tol=0.0001, verbose=False)

In [78]:
l_preds = lasso.predict(X)

In [79]:
metrics.mean_squared_error(y, l_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, l_preds))
rmse

76581.94144216384

In [80]:
seventh_submission = pd.DataFrame()
seventh_submission['Id'] = test_with_dummies['id']
seventh_submission['SalePrice'] = lasso.predict(test_with_dummies)

In [81]:
seventh_submission.head()

     Id      SalePrice
0  2658  162169.055511
1  2718  161913.459965
2  2414  196232.100752
3  1989  162177.612180
4   625  195604.990787

In [82]:
seventh_submission.to_csv('./datasets/seventh_submission.csv', index = False)

# Eighth Submission

In [83]:
train = pd.read_csv('./datasets/train_with_dummies.csv')
test = pd.read_csv('./datasets/test_with_dummies.csv')

In [84]:
ss = StandardScaler()
lasso_scaled = LassoCV(n_alphas = 500, cv = 5, random_state = 42)

In [85]:
features = [x for x in train.columns if x not in ['saleprice', 'id', 'pid']]

In [86]:
X = train[features]
y = train['saleprice']

In [87]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3)

In [88]:
X.shape

(2025, 225)

In [89]:
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)
test_sc = ss.transform(test[features])

In [90]:
lasso_scaled.fit(X_train_sc, y_train)

LassoCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=500, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=42, selection='cyclic',
        tol=0.0001, verbose=False)

In [91]:
lasso_scaled.score(X_train_sc, y_train)

0.9332108842747361

In [92]:
lasso_scaled.score(X_test_sc, y_test)

0.8889504494831244

In [93]:
las_sc_preds = lasso_scaled.predict(X)

In [94]:
metrics.mean_squared_error(y, las_sc_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, las_sc_preds))
rmse

131676260.3627188

In [95]:
eighth_submission = pd.DataFrame()
eighth_submission['Id'] = test['id']
eighth_submission['SalePrice'] = lasso_scaled.predict(test_sc)

In [96]:
eighth_submission.head()

     Id      SalePrice
0  2658  141975.909045
1  2718  167574.275732
2  2414  232936.701901
3  1989  115394.761106
4   625  183342.131131

In [97]:
eighth_submission.to_csv('./datasets/eighth_submission.csv', index = False)

# Ninth Submission

In [98]:
ridge_scaled = RidgeCV(alphas = np.logspace(0, 5, 200),cv = 5)

In [99]:
ridge_scaled.fit(X_train_sc, y_train)

RidgeCV(alphas=array([1.00000000e+00, 1.05956018e+00, 1.12266777e+00, 1.18953407e+00,
       1.26038293e+00, 1.33545156e+00, 1.41499130e+00, 1.49926843e+00,
       1.58856513e+00, 1.68318035e+00, 1.78343088e+00, 1.88965234e+00,
       2.00220037e+00, 2.12145178e+00, 2.24780583e+00, 2.38168555e+00,
       2.52353917e+00, 2.67384162e+00, 2.83309610e+00, 3.00183581e+00,
       3.18062569e+00, 3.37006433e+0...
       3.33129479e+04, 3.52970730e+04, 3.73993730e+04, 3.96268864e+04,
       4.19870708e+04, 4.44878283e+04, 4.71375313e+04, 4.99450512e+04,
       5.29197874e+04, 5.60716994e+04, 5.94113398e+04, 6.29498899e+04,
       6.66991966e+04, 7.06718127e+04, 7.48810386e+04, 7.93409667e+04,
       8.40665289e+04, 8.90735464e+04, 9.43787828e+04, 1.00000000e+05]),
        cv=5, fit_intercept=True, gcv_mode=None, normalize=False, scoring=None,
        store_cv_values=False)

In [100]:
ridge_scaled.score(X_train_sc, y_train)

0.9357242564676271

In [101]:
ridge_scaled.score(X_test_sc, y_test)

0.8876572546228901

In [102]:
ridge_sc_preds = ridge_scaled.predict(X)

In [103]:
metrics.mean_squared_error(y, ridge_sc_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, ridge_sc_preds))
rmse

113650386.40913734

In [104]:
ninth_submission = pd.DataFrame()
ninth_submission['Id'] = test['id']
ninth_submission['SalePrice'] = ridge_scaled.predict(test_sc)

In [105]:
ninth_submission.to_csv('./datasets/ninth_submission.csv', index = False)

# Tenth Submission

In [106]:
X = train[features]
y = np.log(train['saleprice'])

In [107]:
lr = LinearRegression()

In [108]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [109]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [110]:
cross_val_score(lr, X_train, y_train, cv = 5).mean()

0.8987007766195765

In [111]:
cross_val_score(lr, X_test, y_test, cv = 5).mean()

0.8507960815732613

In [112]:
lr_preds = lr.predict(X)

In [113]:
metrics.mean_squared_error(y, lr_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, lr_preds))
rmse

0.10881074060259519

In [114]:
tenth_submission = pd.DataFrame()
tenth_submission['Id'] = test['id']
tenth_submission['SalePrice'] = np.exp(lr.predict(test[features]))

In [115]:
tenth_submission.head()

     Id      SalePrice
0  2658  123550.045844
1  2718  162347.014343
2  2414  224250.525122
3  1989   96328.314983
4   625  174306.831047

In [116]:
tenth_submission.to_csv('./datasets/tenth_submission.csv', index = False)

# Eleventh Submission
## This was my highest scoring submission on Kaggle

In [117]:
ridge = RidgeCV(cv = 5)

In [118]:
ridge.fit(X_train, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=5, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [119]:
ridge.score(X_train, y_train)

0.9315752037627588

In [120]:
ridge.score(X_test, y_test)

0.9167625109306345

In [121]:
ridge_preds = ridge.predict(X)

In [122]:
metrics.mean_squared_error(y, ridge_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, ridge_preds))
rmse

0.11061836325825875

In [123]:
eleventh_submission = pd.DataFrame()
eleventh_submission['Id'] = test['id']
eleventh_submission['SalePrice'] = np.exp(ridge.predict(test[features]))

In [124]:
eleventh_submission.head()

     Id      SalePrice
0  2658  124896.247013
1  2718  163402.297115
2  2414  225726.873663
3  1989   99125.368020
4   625  172586.970699

In [125]:
eleventh_submission.to_csv('./datasets/eleventh_submission.csv', index = False)

# Twelfth Submission

In [126]:
lasso = LassoCV(n_alphas = 500, cv = 5, random_state = 42)

In [127]:
lasso.fit(X_train, y_train)

LassoCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=500, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=42, selection='cyclic',
        tol=0.0001, verbose=False)

In [128]:
lasso.score(X_train, y_train)

0.8205639498300938

In [129]:
lasso.score(X_test, y_test)

0.8053035665830293

In [130]:
lass_preds = lasso.predict(X)

In [131]:
metrics.mean_squared_error(y, lass_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, lass_preds))
rmse

0.1761396947500164

In [132]:
twelfth_submission = pd.DataFrame()
twelfth_submission['Id'] = test['id']
twelfth_submission['SalePrice'] = np.exp(lasso.predict(test[features]))

In [133]:
twelfth_submission.head()

     Id      SalePrice
0  2658  148021.829210
1  2718  256112.722351
2  2414  177665.048269
3  1989  124152.541032
4   625  171839.961132

In [134]:
twelfth_submission.to_csv('./datasets/twelfth_submission.csv', index = False)

# Thirteenth Submission

In [135]:
ridge_sc = RidgeCV(cv = 5)
X_train_sc = ss.fit_transform(X_train)
X_test_sc = ss.transform(X_test)
test_sc = ss.transform(test[features])

In [136]:
ridge_sc.fit(X_train_sc, y_train)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=5, fit_intercept=True,
        gcv_mode=None, normalize=False, scoring=None, store_cv_values=False)

In [137]:
ridge_sc.score(X_train_sc, y_train)

0.9383816554193642

In [138]:
ridge_sc.score(X_test_sc, y_test)

0.9079236625513272

In [139]:
ridge_sc_preds = ridge_sc.predict(X)

In [140]:
metrics.mean_squared_error(y, ridge_sc_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, ridge_sc_preds))
rmse

577.7157344551489

In [141]:
thirteenth_submission = pd.DataFrame()
thirteenth_submission['Id'] = test['id']
thirteenth_submission['SalePrice'] = np.exp(ridge_sc.predict(test_sc))

In [142]:
thirteenth_submission.head()

     Id      SalePrice
0  2658  126006.300442
1  2718  162712.631143
2  2414  224394.064275
3  1989   96560.063878
4   625  173956.972050

In [143]:
thirteenth_submission.to_csv('./datasets/thirteenth_submission.csv', index = False)

# Fourteenth Submission

In [144]:
lasso_sc = LassoCV(n_alphas = 500, cv = 5, random_state = 42)

In [145]:
lasso_sc.fit(X_train_sc, y_train)

LassoCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
        max_iter=1000, n_alphas=500, n_jobs=None, normalize=False,
        positive=False, precompute='auto', random_state=42, selection='cyclic',
        tol=0.0001, verbose=False)

In [146]:
lasso_sc.score(X_train_sc, y_train)

0.9308118716342961

In [147]:
lasso_sc.score(X_test_sc, y_test)

0.9133396350241196

In [148]:
lasso_sc_preds = lasso_sc.predict(X)

In [149]:
metrics.mean_squared_error(y, lasso_sc_preds)

rmse = np.sqrt(metrics.mean_squared_error(y, lasso_sc_preds))
rmse

652.488178928581

In [150]:
fourteenth_submission = pd.DataFrame()
fourteenth_submission['Id'] = test['id']
fourteenth_submission['SalePrice'] = np.exp(lasso_sc.predict(test_sc))

In [151]:
fourteenth_submission.head()

     Id      SalePrice
0  2658  139908.922331
1  2718  161513.941239
2  2414  221609.363924
3  1989   99127.359232
4   625  170321.915931

In [152]:
lasso_coefs = pd.DataFrame({'variable':X.columns,
                            'coef':lasso_sc.coef_,
                            'abs_coef':np.abs(lasso_sc.coef_)})

lasso_coefs.sort_values('abs_coef', inplace=True, ascending=False)

lasso_coefs.head(25)

print('Percent variables zeroed out:', np.sum((lasso_sc.coef_ == 0))/float(X.shape[1]))

Percent variables zeroed out: 0.5377777777777778

In [153]:
fourteenth_submission.to_csv('./datasets/fourteenth_submission.csv', index = False)

# Fifteenth Submission

In [154]:
features = ['total_sf', 'overall_qual', 'gr_liv_area', 'exter_qual',
            'overall_cond', 'kitchen_qual', 'age', 'mas_vnr_area',
            'sale_type_New', 'lot_area', 'total_baths']
X = train[features]
y = np.log(train['saleprice'])

In [155]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [156]:
X_tr_sc = ss.fit_transform(X_train)
X_te_sc = ss.transform(X_test)
test_sc = ss.transform(test[features])

In [157]:
lr = LinearRegression()

In [158]:
lr.fit(X_tr_sc, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [159]:
lr.score(X_tr_sc, y_train)

0.8738104897299719

In [160]:
lr.score(X_te_sc, y_test)

0.899626914037308

In [161]:
lrpreds = lr.predict(X)

In [162]:
metrics.mean_squared_error(y, lrpreds)

rmse = np.sqrt(metrics.mean_squared_error(y, lrpreds))
rmse

896.954790627455

In [163]:
fifteenth_submission = pd.DataFrame()
fifteenth_submission['Id'] = test['id']
fifteenth_submission['SalePrice'] = np.exp(lr.predict(test_sc))

In [164]:
fifteenth_submission.head()

     Id      SalePrice
0  2658  158885.277412
1  2718  175552.660704
2  2414  219213.196461
3  1989  105728.072401
4   625  155506.451061

In [165]:
fifteenth_submission.to_csv('./datasets/fifteenth_submission.csv', index = False)